*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 20%;
    width: 20%;
    background-image: url("https://www.incredibleindia.gov.in/content/dam/incredible-india/images/trips/jammu-and-kashmir/srinagar/gulmarg-serenity-escape/gulmarg-meadows-srinagar-tri-iter-day1.jpg");
    background-size: cover;
    background-position: center;
}
.car1{
    height: 100px;
    width: 120px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 10%;
}
.car2{
    height: 120px;
    width: 90px;
    background-color: blue;
    
}
.car3{
    height: 130px;
    width: 110px;
    background-color: green;
}